<div class="note-list-margin" #content>
  <div *ngFor="let item of noteList" class="note-item" #notes>
    <div class="note-item-name" (click)="detailNote(item.id!!)">{{infoPrint(item)}}</div>
    <div class="note-item-tools">
      <div class="note-item-tool-edit" (click)="editNote(item.id!!)"></div>
      <div class="note-item-tool-delete" (click)="deleteNote(item.id!!)"></div>
    </div>
  </div>
  <div class="note-virt-holder">
    <button class="note-add-button" (click)="addNote()"></button>
  </div>
</div>
