:host {
  width: 100%;
  height: 100%;
}

.note-list-margin {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.note-item {
  width: 100%;
  height: 40px;
  float: left;
  line-height: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  background: rgb(160 140 1 / 19%);
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;

  .note-item-name {
    width: calc(100% - 90px);
    padding-left: 10px;
    box-sizing: border-box;
  }

  .note-item-tools{
    width: 90px;
    box-sizing: border-box;
    height: 100%;
    padding-right: 10px;

    .note-item-tool-edit, .note-item-tool-delete {
      border-radius: 50%;
      transition-timing-function: ease-in-out;
      transition: background-color 0.15s;
    }

    .note-item-tool-edit:hover, .note-item-tool-delete:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
    }

    .note-item-tool-edit {
      width: 40px;
      height: 40px;
      background-image: url("/assets/icon-edit.svg");
      background-size: 70% auto;
      background-repeat: no-repeat;
      background-position: center center;
      float: left;
    }

    .note-item-tool-delete {
      width: 40px;
      height: 40px;
      background-image: url("/assets/icon-delete.svg");
      background-size: 70% auto;
      background-repeat: no-repeat;
      background-position: center center;
      float: left;
    }
  }
}

.note-virt-holder {
  width: 100%;
  height: 40px;
  float: left;
  line-height: 40px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;

  .note-add-button {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("/assets/icon-add.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition-timing-function: ease-in-out;
    transition: background-color 0.15s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
    }
  }
}
