$borderRadius: 6px;
$semitransparentWhite: rgba(255, 255, 255, 1);

:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-switch {
  display: flex;
  flex: 0 0 50px;
  flex-direction: column;

  .calendar-button {
    width: 50px;
    height: 50px;
    background-color: $semitransparentWhite;
    background-image: url('/assets/icon-calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: $borderRadius;
  }

  .note-button {
    width: 50px;
    height: 50px;
    background-color: $semitransparentWhite;
    background-image: url('/assets/icon-note.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom-left-radius: $borderRadius;
  }

}

#center-display {
  display: flex;
  flex: 0 1 100%;
  background: $semitransparentWhite;
  border-bottom-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}
