<!-- LAYOUT -->
<div class="left-switch">
  <div class="calendar-button" (click)="switchToCalendar()"></div>
  <div class="note-button" (click)="switchToNotes()"></div>
</div>
<div id="center-display">
  <ng-container #display></ng-container>
</div>
