<div class="calendar-list-margin" #content>
  <div *ngFor="let item of calendarEvents" class="calendar-item" #calendars>
    <div class="calendar-item-datetime" [ngClass]="old(item.datetime)?'date-old':'date-upcoming'">{{item.datetime | date:'yyyy.MM.dd HH:mm'}}</div>
    <div class="calendar-item-name" (click)="detailCalendar(item.id)">{{infoPrint(item)}}</div>
    <div class="calendar-item-tools">
      <div class="calendar-item-tool-edit" (click)="editCalendar(item.id)"></div>
      <div class="calendar-item-tool-delete" (click)="deleteCalendar(item.id)"></div>
    </div>
  </div>
  <div class="calendar-virt-holder">
    <button class="calendar-add-button" (click)="addCalendar()"></button>
  </div>
</div>
