<input class="new-calendar-name" type="text" placeholder="Zadejte název" minlength="3" maxlength="35" [(ngModel)]="name"/>
<div class="new-calendar-split">
  <mat-form-field appearance="outline">
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
        [stepHour]="1" [stepMinute]="1" [stepSecond]="30">
    </ngx-mat-datetime-picker>
  </mat-form-field>
</div>

<div class="new-calendar-split">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Kde?</mat-label>
    <input matInput placeholder="Např.: Kancelář 2B" [(ngModel)]="place">
  </mat-form-field>
</div>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Detaily</mat-label>
  <textarea matInput placeholder="Vložte libovolný text" [(ngModel)]="details"></textarea>
</mat-form-field>

<div class="errors">{{errors}}</div>

<div class="new-calendar-buttons">
  <button mat-button (click)="close()">Zpět</button>
  <button mat-raised-button (click)="edit()">Upravit</button>
</div>
