:host {
  display: block;
  width: 100%;
  height: 100%;
}

.new-note-name {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  border: 0px;
  border-bottom: 2px solid #8e8e8e;
  color: #555;

  &:focus-visible {
    outline: 0px !important;
  }
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.new-note-buttons{
  width: 100%;
  margin-top: 10px;

  button[mat-raised-button] {
    float: right;
    background: green;
    color: white;
  }
}
