<input class="new-note-name" type="text" placeholder="Zadejte název" minlength="2" maxlength="35" [(ngModel)]="name" disabled="true"/>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Detaily</mat-label>
  <textarea matInput placeholder="Vložte libovolný text" [(ngModel)]="text" disabled="true"></textarea>
</mat-form-field>

<div class="new-note-buttons">
  <button mat-button (click)="close()">Zpět</button>
</div>
