/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  padding: 50px;
  background-image: url('/assets/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.dialog-design {

  & mat-dialog-container {
    background-color: white;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #b9b437 #dedede;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #dedede;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #a08c0130;
  border-radius: 20px;
  border: 2px none #b42d2d;
}
