<input class="new-calendar-name" type="text" placeholder="Zadejte název" minlength="3" maxlength="35" [(ngModel)]="name" readonly/>
<div class="new-calendar-split">
  <mat-form-field appearance="outline">
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [(ngModel)]="date" readonly>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
        [stepHour]="1" [stepMinute]="1" [stepSecond]="30">
    </ngx-mat-datetime-picker>
  </mat-form-field>
</div>

<div class="new-calendar-split">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Kde?</mat-label>
    <input matInput placeholder="Např.: Kancelář 2B" [(ngModel)]="place" disabled="true">
  </mat-form-field>
</div>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Detaily</mat-label>
  <textarea matInput placeholder="Vložte libovolný text" [(ngModel)]="details" disabled="true"></textarea>
</mat-form-field>

<div class="new-calendar-buttons">
  <button mat-button (click)="close()">Zpět</button>
</div>
